.list-number:active {
    color: brown !important;
}
.list-number:hover {
    color: brown !important;
}
.list-number {
    font-size: large ;
    padding-left: 10px;
    padding-bottom: 20px;
}
.item-list {
    display: flex !important;
    align-content: center;
    justify-content: center !important;
}
/*phones*/
@media screen and (max-width: 500px){
    .item-list {
        margin-right: 20px !important;
    }
}