.yelp-icon-yelp {
    width: 90px;
    padding-bottom: 8px;
}
.search-icon-yelp {
    background-color: #f43939;
    color: white;
    font-size: 25px !important;
}
.parent-search {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    align-items: center;
}
.child-1-search {
    width: 15%;
    display: flex;
    align-items: center;
    justify-content: center;
    flex-wrap: wrap;
}
.child-2-search {
    width: 85%;
}
.background-margins {
    position: fixed;
    background-color:white;
    opacity: 1;
    width: 100%;
    top: 0;
    z-index: 99999;
    padding-top: 20px;
    padding-bottom: 20px;
    box-shadow: 0 1px 8px 0 rgba(0, 0, 0, 0.1), 0 2px 20px 0 rgba(0, 0, 0, 0.1);
}
.go-back {
    font-size: 35px;
    color:  #f43939;
}
.go-back:hover {
    color: brown;
}
.yelp-parent {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    align-items: stretch;
}
.yelp-child-1 {
    width: 60%;
    margin-top: 130px;
}
.yelp-child-2 {
    width: 40%;
}
.search-input-yelp {
    width: 300px;
    box-shadow: 0 1px 8px 0 rgba(0, 0, 0, 0.1), 0 2px 20px 0 rgba(0, 0, 0, 0.1);
}